@charset 'utf-8';
/* 基本设置 */
/* *{
    padding: 0;
    margin: 0;
} */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,input,figure{
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font: 12px/1.5em "Microsoft Yahei UI","宋体",sans-serif;
    height: 100%;
}